<ToolsOverlay
  @selectTool={{action "selectTool"}}
  @updatePlotProperties={{action "updatePlotProperties"}}
  @setInMSetHue={{action "setInMSetHue"}}
  @eq=eq
/>

{{#animated-if this.isPlotting use=transitionSpinner }}
  <div class="grid-full absolute pin w-full h-full">
    <span class="spinner"></span>
  </div>
{{/animated-if}}

<canvas
  id="canvas"
  {{action "clickCanvas"}}
  {{action "mOverCanvas" on="mouseMove"}}
  {{action "touchCanvas" on="touchStart"}}
></canvas>
